.deer-clip {
  position: absolute;
  bottom: -91px;
  left: -365px;
  display: inline-block;
  width: 1253px;
  height: 1597px;
  pointer-events: none;
  clip-path: url("#clippath");

  @media (max-width: $screen-xl) {
    width: 953px;
    height: 1297px;
  }

  @media (max-width: $screen-lg) {
    bottom: 140px;
    left: 20px;
    width: 50%;
    height: 320px;
    clip-path: none;
  }

  @media (max-width: $screen-md) {
    width: 48%;
  }

  @media (max-width: $screen-sm) {
    right: 0;
    bottom: 400px;
    left: 0;
    width: 100%;
  }
}

.deer-clip__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.deer-clip__svg {
  position: absolute;
  z-index: -1;
  opacity: 0;

  @media (max-width: $screen-xl) {
    width: 953px;
    height: 1297px;
  }

  @media (max-width: $screen-lg) {
    display: none;
  }
}

.deer-clip__svg clipPath {
  @media (max-width: 1200px) {
    transform: scale(0.7) translate(0, 0);
  }

  @media (max-width: $screen-lg) {
    display: none;
  }
}
