.page-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 50px 0;
}

.page-header__inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 17px;
}

.page-header__contacts {
  margin-left: 100px;
}

.page-header__phone {
  display: block;
  padding: 5px 12px;
  font-size: 24px;
  text-align: center;
  color: $text-color;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid $color-accent;
  border-radius: 10px;
}
