.show-main-nav {
  //
}

.show-main-nav .trigger {
  width: 65px;
}

.show-main-nav .trigger > span {
  width: 28px;
  background-color: transparent;
  transition: background 0.3s 0s;

  &::before,
  &::after {
    top: 0;
    width: 28px;
    transition: top 0.3s, transform 0.3s 0.5s;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.show-main-nav .trigger:hover > span {
  background-color: transparent;
}

.show-main-nav .main-nav__list {
  @media (max-width: $screen-md) {
    position: absolute;
    top: 56px;
    right: 0;
    left: 0;
    z-index: 10;
    display: block;
  }
}

.show-main-nav .main-nav__item {
  @media (max-width: $screen-md) {
    background-color: $white;
    border-top: 1px solid rgba($color-accent, 0.15);
    border-bottom: 1px solid rgba($color-accent, 0.15);
  }
}
