.start-price {
  font-weight: 600;
  color: $color-accent;
  animation: welcomeSectionAnimate3 1s ease 2.2s both;
}

.start-price__row {
  display: block;
  text-transform: lowercase;

  &--from {
    margin-bottom: -5px;
    font-size: 18px;
    text-transform: uppercase;

    @media (max-width: $screen-xl) {
      font-size: 16px;
    }
  }

  &--cost {
    font-size: 44px;

    @media (max-width: $screen-xl) {
      font-size: 36px;
    }
  }

  &--period {
    margin-top: -3px;
    font-size: 18px;
    text-align: right;

    @media (max-width: $screen-xl) {
      font-size: 16px;
    }
  }
}
